<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slideshow</title>
</head>
<body>
    <img name="slider" width="100%" height="100%">    
    <script>
        window.addEventListener('load', function(){
        console.log('cargado');

        var img = [];
        '<% count = 0 %>'
        '<% @publications.each do |publication| %>'        
        img ['<%= count %>'] = '<%= url_for(publication.picture) %>';
        '<% count = count + 1 %>'
        '<% end %>'
        var i = 0;
        var time = 4000;

        function slide(){
            
            document.slider.src = img [i];
            if(i < <%= count - 1 %>){
                i++;
            }else{
                i = 0;
            }
        }

        setInterval(slide, time);

    });
    </script>    
</body>
</html>